body{
    margin: 0;
    background-color: #256D85;
    text-align: center;
    
    
}

h2 {
    position: relative;
    left: 25%;
    font-size: 50px;
    color: #06283D;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    background-color: white;
    width: 50%;
    border: 5px solid black;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.8);
    border-radius: 30px;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    border: 5px solid black;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.8);
}
hr{
    border-bottom: 5px solid black;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.9);
}
a{
    text-decoration: none;
    color: black;
}



.logo{
    margin: 0 auto;
    font-size: 70px;
    text-align: center;
    width: 40vw;
    
}


.logo-icon{
    position: absolute;
    left: 800px;
    top: 60px;

}



.mid{
    margin: 60px auto 0 auto;
    width: 100vw;
    height: 100%;
    background-color: #F8EDE3;
    border-radius: 70px;
    border: 10px black solid;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.9);
}




